<section id="about" class="about">
  <picture>
    <source
      class="about-img"
      srcset="./images/about/people.webp 1x, ./images/about/people@2x.webp 2x"
      type="image/webp"
    />

    <img
      class="about-img"
      srcset="./images/about/people.jpg 1x, ./images/about/people@2x.jpg 2x"
      src="./images/about/people.jpg"
      alt="people"
    />
  </picture>
  <div class="about-container">
    <h2 class="about-heading">What you are looking for</h2>
    <h3 class="about-review">We provide bespoke solutions</h3>
    <p class="about-info">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button class="about-section-btn" type="button">
      <svg class="about-btn__icon" width="10" height="15">
        <use href="./images/networks.svg#icon-right"></use>
      </svg>
      Read More
    </button>
  </div>
</section>
