<section class="blog" id="blog">
  <picture>
    <source
      class="blog-img"
      srcset="./images/blog/blog.webp 1x, ./images/blog/blog@2x.webp 2x"
      type="image/webp"
    />

    <img
      class="blog-img"
      srcset="./images/blog/blog.jpg 1x, ./images/blog/blog@2x.jpg 2x"
      src="./images/blog/blog.jpg"
      alt="post"
    />
  </picture>
  <div class="blog-container">
    <p class="post-date">April 16 2022</p>
    <h2 class="blog-heading">Blog Post One</h2>
    <p class="blog-post">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button class="blog-btn" type="button">
      <svg class="blog-btn__icon" width="10" height="15">
        <use href="./images/networks.svg#icon-right"></use>
      </svg>
      Read Our Blog
    </button>
  </div>
</section>
