<section class="contact" id="contact">
  <picture>
    <source
      class="contact-img"
      srcset="
        ./images/contact/contact.webp    1x,
        ./images/contact/contact@2x.webp 2x
      "
      type="image/webp"
    />

    <img
      class="contact-img"
      srcset="
        ./images/contact/contact.jpg    1x,
        ./images/contact/contact@2x.jpg 2x
      "
      src="./images/contact/contact.jpg"
      alt="contact"
    />
  </picture>
  <div class="contact-container">
    <h2 class="contact-heading">
      Request <br />
      Callback
    </h2>
    <form class="contact-form" novalidate netlify>
      <div class="input-box__name">
        <label for="input-name" id="label-name" class="label-text"
          >Enter your name</label
        >
        <input
          id="input-name"
          class="contact-form__input"
          type="text"
          name="name"
        />
      </div>
      <div class="input-box__email">
        <label for="input-email" id="label-email" class="label-text">
          Enter email*</label
        >
        <input
          id="input-email"
          class="contact-form__input"
          type="email"
          name="email"
          data-reg="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$"
        />

        <div class="warnig message--hidden">
          <svg width="20" height="20" class="worning-icon">
            <use href="./images/nav.svg#icon-worning"></use>
          </svg>
          <span class="warning-message">This is a required fild</span>
        </div>
      </div>

      <button class="contact-form__btn" type="submit">Send</button>
    </form>
  </div>
</section>
