<footer class="footer">
  <ul class="social-networks">
    <li class="social-networks__item">
      <a class="social-networks__link" href="">
        <svg class="social-networks__icon" width="35" height="35">
          <use href="./images/networks.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="social-networks__item">
      <a class="social-networks__link" href="">
        <svg class="social-networks__icon" width="35" height="35">
          <use href="./images/networks.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
    <li class="social-networks__item">
      <a class="social-networks__link" href="">
        <svg class="social-networks__icon" width="35" height="35">
          <use href="./images/networks.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="social-networks__item">
      <a href="">
        <svg class="social-networks__icon" width="35" height="35">
          <use href="./images/networks.svg#icon-linked"></use>
        </svg>
      </a>
    </li>
  </ul>
  <p class="copiright">Copyright &#169; 2021 - FinanceLedger</p>
</footer>
