<header class="header" id="header">
  <nav class="nav">
    <ul class="logo">
      <li class="logo__item">
        <a class="logo__icon" href="./index.html">
          <svg width="40" height="35">
            <use href="./images/networks.svg#icon-solid-book"></use>
          </svg>
        </a>
      </li>
      <li class="logo__item">
        <a class="logo__label" href="#">
          <span class="logo__brend">Finance</span>Ledger</a
        >
      </li>
    </ul>
    <ul class="nav-list">
      <li class="nav-list__item">
        <a class="nav-list__link" href="./index.html">Home</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" href="#about">About</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" href="#cases">Cases</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" href="#blog">Blog</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" href="#contact">Сontact</a>
      </li>
    </ul>
  </nav>
</header>
