<section class="team-section">
  <h2 class="team-section__heading">Who we are</h2>
  <h3 class="team-section__review">Our Professional Team</h3>
  <p class="team-section__info">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="team">
    <li class="team-member">
      <div class="overlay-container">
        <picture>
          <source
            class="team-member__img"
            srcset="
              ./images/team/person1.webp    1x,
              ./images/team/person1@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="team-member__img"
            srcset="
              ./images/team/person1.jpg    1x,
              ./images/team/person1@2x.jpg 2x
            "
            src="./images/team/person1.jpg"
            alt="Jone Doe"
          />
        </picture>
        <div class="overlay">
          <ul class="member-networks">
            <li class="member-networks__item">
              <a class="member-networks__link" href="">
                <svg class="member-networks__icon" width="30" height="30">
                  <use href="./images/networks.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="member-networks__item">
              <a class="member-networks__link" href="">
                <svg class="member-networks__icon" width="30" height="30">
                  <use href="./images/networks.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="member-networks__item">
              <a class="member-networks__link" href="">
                <svg class="member-networks__icon" width="30" height="30">
                  <use href="./images/networks.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="member-networks__item">
              <a href="">
                <svg class="member-networks__icon" width="30" height="30">
                  <use href="./images/networks.svg#icon-linked"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <h3 class="team-member__name">John Doe</h3>
      <p class="team-member__crew">President</p>
    </li>
    <li class="team-member">
      <div class="overlay-container">
        <picture>
          <source
            class="team-member__img"
            srcset="
              ./images/team/person2.webp    1x,
              ./images/team/person2@2x.webp 2x
            "
            type="image/webp"
          />

          <img
            class="team-member__img"
            srcset="
              ./images/team/person2.jpg    1x,
              ./images/team/person2@2x.jpg 2x
            "
            src="./images/team/person2.jpg"
            alt="Jane Doe"
          />
        </picture>
        <div class="overlay">
          <ul class="member-networks">
            <li class="member-networks__item">
              <a class="member-networks__link" href="">
                <svg class="member-networks__icon" width="30" height="30">
                  <use href="./images/networks.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="member-networks__item">
              <a class="member-networks__link" href="">
                <svg class="member-networks__icon" width="30" height="30">
                  <use href="./images/networks.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="member-networks__item">
              <a class="member-networks__link" href="">
                <svg class="member-networks__icon" width="30" height="30">
                  <use href="./images/networks.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="member-networks__item">
              <a href="">
                <svg class="member-networks__icon" width="30" height="30">
                  <use href="./images/networks.svg#icon-linked"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <h3 class="team-member__name">Jane Doe</h3>
      <p class="team-member__crew">Vice President</p>
    </li>
    <li class="team-member">
      <div class="overlay-container">
        <picture>
          <source
            class="team-member__img"
            srcset="
              ./images/team/person3.webp    1x,
              ./images/team/person3@2x.webp 2x
            "
            type="image/webp"
          />

          <img
            class="team-member__img"
            srcset="
              ./images/team/person3.jpg    1x,
              ./images/team/person3@2x.jpg 2x
            "
            src="./images/team/person3.jpg"
            alt="Steve Smith"
          />
        </picture>
        <div class="overlay">
          <ul class="member-networks">
            <li class="member-networks__item">
              <a class="member-networks__link" href="">
                <svg class="member-networks__icon" width="30" height="30">
                  <use href="./images/networks.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="member-networks__item">
              <a class="member-networks__link" href="">
                <svg class="member-networks__icon" width="30" height="30">
                  <use href="./images/networks.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="member-networks__item">
              <a class="member-networks__link" href="">
                <svg class="member-networks__icon" width="30" height="30">
                  <use href="./images/networks.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="member-networks__item">
              <a href="">
                <svg class="member-networks__icon" width="30" height="30">
                  <use href="./images/networks.svg#icon-linked"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <h3 class="team-member__name">Steve Smith</h3>
      <p class="team-member__crew">Marketing Head</p>
    </li>
  </ul>
</section>
